#body_blackadam{
  margin: 0;
  padding: 0;
  color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  overflow-x: hidden;
  font-family: Tahoma;
  background-image: -ms-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -moz-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -o-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #09203f), color-stop(1, #537895));
  background-image: -webkit-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: linear-gradient(to top right, #09203f 0%, #537895 100%);
}
#body_blackadam, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
iframe {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
#body_blackadam {
  background: black;
  padding: 5px;
}


.Drop-menu_blackadam {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
}

ul#Menu ul {
  margin: 2px 0 0;
  padding: 0;
  position: relative;
  bottom: 73.40%;
  right: 21.96%;
  display: inline-block;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  background: #444;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}


ul#Menu li:hover ul {
  opacity: 1;
  visibility: visible;
}


ul#Menu ul li {
  float: none;
  display: block;
  border: 0;
}


ul#Menu ul a {
  color: white;
  padding: 10px;
  width: 130px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}


ul#Menu ul a:hover {
  background-color: orange;
  color: black;
}


header li {
  display: inline;
  margin: 5px;
  color: white;
}


header ul {
  text-align: center;
}


header ul li.Logo {
  border: 3px solid orange;
}


header ul li.Logo a {
  color: white;
  text-decoration: none;
}
.logo {
  position: relative;
  margin-top: 100px;
  width: 50px;
  height: 50px;
}


#fotologo {
  position: relative;
  margin-top: auto;
  margin-bottom: -1.00%;
  width: 5%;
  height: 5%;
}

.video_trailer {
  width: 100%;
  height: 50%;
 /* border-style: solid;*/
  border-color: #fff199;

}
#trailer_blackadam {
  /*border-style: solid;*/
  border-color: firebrick;
  position: relative;
  left: 0%;
  height: 100%;
  object-fit: cover;
}

.foto_blackadam{
  /*border-style: solid;*/
  border-color: darkviolet;
  width: 20%;
  height: 100.08%;
  position: relative;
  bottom: 100.9%;
  left: 40.1%;
  object-fit: cover;



}
#poster_blackadam{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.titolo_blackadam{

}

#presentazione{
  text-align: center;
  color: #FFD700;
}
.trama_blackadam{
  border-color:firebrick ;
  border-style: solid;
  width: 100%;
  height: 100.08%;
  position: relative;
  bottom: 202.5%;
  left: 60%;
  object-fit: cover;

}

