<!doctype html>
<html>

<head> <!-- CONTENIER DEI DATI, CI VANNO (LINK, TITLE, SCRIPT,META) -->
  <link rel="icon" type="image/png" href="/static/Images/logo_piccolo.png">

  <title>Cineticket Cinema | Film | Eventi | Orari </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheet/BlackAdam.css">
</head>

<body id="body_blackadam">
<header id="header_blackadam">
  <div class="Drop-menu_blackadam">
    <ul id="Menu">
      <img id ="fotologo" src="/static/Images/logo_cineticket.png">
      <li>PASS</li>
      <li>CARD E PROMO</li>
      <li>BUSINESS</li>
      <li class="Logo">
        <a href="login%20page.html">LOG IN</a>
      </li>
    </ul>
  </div>
</header>

<div class="video_trailer">
  <div class="titolo_blackadam">
    <h1 id="presentazione"> BLACKADAM </h1>
    </div>


  <video id= "trailer_blackadam" width="600" height="280" controls autoplay muted>
    <source src="/static/Videos/trailer_blackadam.mp4" type="video/mp4">
  </video>
    <div class="foto_blackadam">
      <img id="poster_blackadam" src="/static/Images/Black-Adam_Character-Poster-Italia-1.jpeg">
    </div>
  <div class="trama_blackadam">
    <h1>BLACK ADAM </h1>
    <p>Dopo 5000 anni di prigionia, Black Adam viene liberato dalla sua tomba terrena e<p>
      <p>si prepara a scatenare la sua particolare forma di giustizia nel mondo moderno.</p>
</div>
</div>
</body>
</html>

