<!-- -->
<!doctype html>
<html>

<head> <!-- CONTENIER DEI DATI, CI VANNO (LINK, TITLE, SCRIPT,META) -->
  <link rel="icon" type="image/png" href="/static/Images/logo_piccolo.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

  <title>Cineticket Cinema | Film | Eventi | Orari </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/stylesheet/BlackAdam.css">
</head>

<body id="body_blackadam">
<header id="header_blackadam">
  <div class="Drop-menu_blackadam">
    <ul id="Menu">
      <img id ="fotologo" src="/static/Images/logo_cineticket.png">
      <li>PASS</li>
      <li>CARD E PROMO</li>
      <li>BUSINESS</li>
      <li class="Logo">
        <a href="login%20page.html">LOG IN</a>
      </li>
    </ul>
  </div>
</header>

<div class="container1">
  <div class="titolo_blackadam">
    <img id = "logoblack" src="/static/Images/blackadamposter.jpeg">
  </div>

  <div class="trama_blackadam">
    <h1 id = "titolo">BLACK ADAM </h1>
    <div class="testo_trama">
      <p>Dopo 5000 anni di prigionia, Black Adam viene liberato dalla sua tomba terrena e<p>
      <p>si prepara a scatenare la sua particolare forma di giustizia nel mondo moderno.</p>
      <p>Black Adam, il cui vero nome è Theo-Adam o Teth Adam, è un personaggio immaginario dei fumetti DC Comics.
        Ha ottenuto i poteri del Tuono derivanti dall'antica Magia che governava le leggi del Mondo dal Mago Shazam
        originariamente pensato per comparire in una sola storia, divenne un nemico abituale della Famiglia Marvel.
        Col tempo si definisce come uno dei tre arcinemici di Capitan Marvel (tra cui il Dottor Sivana e Mr. Mind),
        creato dallo stesso Mago per opporvisi. Nel corso di diversi decenni di pubblicazione il personaggio è andato incontro a
        diversi retcon della sua storia, processo supportato dal fatto che è stato pubblicato da 2 case editrici quali
        la Fawcett Comics (dal 1945 al 1956) e in seguito dalla DC Comics (dal 1973). Con gli anni è stato ridefinito nel ruolo passando
        da supercriminale ad antieroe ed alleato della Justice Society, seppure con una certa riluttanza e malinconia.
        Nel corso della sua lunga vita editoriale ha avuto tre origini differenti, l'ultima versione e quella canonica alle attuali pubblicazioni
        DC è stata concepita da Geoff Johns e Gary Frank (dal 2012).
        È stato più volte inserito nella classifica stilata dal sito IGN sui cento più grandi supercriminali nella storia dei fumetti.</p>
    </div>
  </div>

<div class="c4l-rating">
  <input name="c4l-rating" type="radio" id="c4l-rate1" value="1" />
  <label for="c4l-rate1"></label>

  <input name="c4l-rating" type="radio" id="c4l-rate2" value="2" />
  <label for="c4l-rate2"></label>

  <input name="c4l-rating" type="radio" id="c4l-rate3" value="3" />
  <label for="c4l-rate3"></label>

  <input name="c4l-rating" type="radio" id="c4l-rate4" value="4" />
  <label for="c4l-rate4"></label>

  <input name="c4l-rating" type="radio" id="c4l-rate5" value="5" checked />
  <label for="c4l-rate5"></label>
</div>

</div>


</body>
</html>

