<!doctype html>
<html>

<head> <!-- CONTENIER DEI DATI, CI VANNO (LINK, TITLE, SCRIPT,META) -->
  <link rel="icon" type="image/png" href="/static/Images/logo_piccolo.png"/>
  <title>Cineticket Cinema | Film | Eventi | Orari </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Funzioni librerie carrello -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css" integrity="sha512-ztsAq/T5Mif7onFaDEa5wsi2yyDn5ygdVwSSQ4iok5BPJQGYz1CoXWZSA7OgwGWrxrSrbF0K85PD5uLpimu4eQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js" integrity="sha512-Nx/M3T/fWprNarYOrnl+gfWZ25YlZtSNmhjHeC0+2gCtyAdDFXqaORJBj1dC427zt3z/HwkUpPX+cxzonjUgrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- .... -->
  <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/stylesheet/Index.css">
</head>

<body id="body_home">
<header>
  <div class="Drop-menu">

    <ul id="Menu">
      <a href="{{ url_for('home') }}"><img id ="fotologo" src="/static/Images/logo_cineticket.png"></a>
      <li class="Promo">
           <a href="{{ url_for('promotion') }}">PROMOTION</a>
      </li>
      <li class="contacts">
        <a href="{{ url_for('contacts') }}">CONTACTS</a>
      </li>
      <li class="Logo">
         <a href= "{{ url_for('login') }}">LOG IN</a>
      </li>
    </ul>
  </div>
</header>

<div data-flickity='{"cellAlign": "left", "contain": true ,"autoPlay":true ,"pauseAutoPlayOnHover": false }'>
  <div class="carousel-cell" id = "primo">
    <a href="{{ url_for('uncharted') }}"> <!-- foto cliccabile dal carousel-cell -->
    <img id = "primafoto" src="/static/Images/Uncharted.jpg">
    </a>
  </div>
  <div class="carousel-cell" id = "secondo">
    <a href="{{ url_for('blackpanther') }}">
    <img id = "secondafoto" src="/static/Images/BlackPanther.jpg">
    </a>
  </div>
  <div class="carousel-cell" id= "terzo">
    <a href="{{ url_for('blackadam') }}">
    <img id="terzafoto" src="/static/Images/BlackAdam.jpg">
    </a>
  </div>

  <div class="carousel-cell" id="quarto">
    <a href="{{ url_for('harrypotter') }}">
    <img id="quartafoto" src="/static/Images/harrypotter.jpg">
    </a>
  </div>
</div>

<div class="container_home">
  <h1 id="evidence">Titoli in evidenza</h1>
  <br>
    <form  id="form">
      <div class="form-container">
        <input id="search" type="text" class="search" Placeholder="Search movies...">
      <div class="btn-container">
        <button id="search-btn" title="Search"><i class="fa fa-search"></i></button>
      </div>
      </div>
    </form>
<br>

  <div id="tags"></div>
    <div id="myNav" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content" id="overlay-content"></div>

      <a href="javascript:void(0)" class="arrow left-arrow" id="left-arrow">&#8656;</a>

      <a href="javascript:void(0)" class="arrow right-arrow" id="right-arrow" >&#8658;</a>

    </div>

  <main id="main"></main>
    <div class="pagination">
      <div class="page" id="prev">Previous Page</div>
      <div class="current" id="current">1</div>
      <div class="page" id="next">Next Page</div>
    </div>

<script src="/static/js/Search.js"></script>
</div>

</body>
</html>
