<!doctype html>
<html>
<head>
     <link rel="icon" type="image/png" href="/static/Images/logo_piccolo.png"/>
    <title>Cineticket Cinema | Film | Eventi | Orari </title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/Promotion.css">
  <script src="/static/js/randomfunction.js"></script>
</head>
<body id="promotion">
  <div class="form-box">
      <div id="sconto"> <h1> -20% ONLY FOR YOU ! </h1>
      </div>
      <h3>To get your promotional code click on <br> <a>GET PROMOTION</a> </h3>
    <div class="random">
    <form  name="rdform">
        <input type="button" value="Get Promotion" onClick="demo();">&nbsp;
        <input id="text"  type="text" name="random" placeholder="It will be generate your code promotion">
    </form>
    </div>
 </div>
</body>
</html>