<!-- -->
<!doctype html>
<html>

<head> <!-- CONTENIER DEI DATI, CI VANNO (LINK, TITLE, SCRIPT,META) -->
  <link rel="icon" type="image/png" href="/static/Images/logo_piccolo.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

  <title>Cineticket Cinema | Film | Eventi | Orari </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheet/Film.css">
  <link rel="stylesheet" href="/static/stylesheet/Index.css">
  <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>

</head>

<body id="body_b">
<header>
  <div class="Drop-menu_b">
    <ul id="Menu">
      <a href="{{ url_for('home') }}"><img id ="fotologo" src="/static/Images/logo_cineticket.png"></a>
      <li class="Promo">
        <a href="{{ url_for('promotion') }}">PROMOTION</a>
      </li>
      <li class="contacts">
        <a href="{{ url_for('contacts') }}">CONTACTS</a>
      </li>
    </ul>

  </div>
</header>

<div class="menub">
  <div class = "container_img_black">
    <img id="poster_blackadam" src="/static/Images/unchposter2.jpeg">
  </div>

  <div class= "titolone">
    <h1 id="titolo">UNCHARTED </h1>
  </div>

  <div class="cast">
    <h1 id = "titolo_cast">Cast: </h1>
    <p id = "positionn">Tom Holland: Nathan Drake <br>
      Mark Wahlberg: Victor "Sully" Sullivan <br>
      Antonio Banderas: Santiago Moncada<br>
      Tati Gabrielle: Jo Braddock<br>
      Sophia Taylor Ali: Chloe Frazer<br>
     Steven Waddington: lo scozzese<br>
      Pilou Asbæk: Gage<br>
        Rudy Pankow: Samuel "Sam" Drake<br>
    </p>
  </div>

  <div class="regiaone">
    <h1 id ="regia">Regia: </h1>
    <p id = "regista">Ruben Fleischer</p>
    <h1 id ="regia2">Data uscita: </h1>
    <p id = "regista2">18/02/2022</p>
  </div>

  <div class="tra">
    <h1 id ="trama">Trama: </h1>
    <p id ="testo_trama">
      Uncharted, il film diretto da Ruben Fleischer, e' un'origin story tratta dall'omonima serie di videogiochi e racconta
        le avventure del cacciatore di tesori Nathan Drake, interpretato da Tom Holland, discendente del celebre Sir
        Francis Drake.
        Mentre è alla ricerca del fratello maggiore Sam, il giovane incappa nella conoscenza di Victor Sullivan
        (Mark Wahlberg), noto come Sully, con cui Drake stringerà amicizia e che diventera' il suo mentore.
Il giovane e' convinto che il fratello non sia scomparso, ma sia disperso in un posto remoto non segnato su alcuna mappa
        terrestre. Sara' Sully a indicargli dove potrebbe essere Sam, ovvero su un'isola deserta, dove si dice sia
        custodito il mitico tesoro di Ferdinando Magellano, andato perduto 500 anni fa e divenuta la fortuna più
        cercata del mondo.
      <span class="read-more-text">
        Convinti che se troveranno l'oro, troveranno anche Sam, i due si mettono in viaggio,
        ma non sono gli unici a cercare il leggendario tesoro. Anche Moncada (Antonio Banderas) e' sulle sue tracce,
        convinto di essere un erede di Magellano e quindi che le ricchezze spettino a lui di diritto.
        Nate e Sully dovranno viaggiare lontano e lavorare d'ingegno, ma soprattutto collaborare per risolvere questo
        mistero perso nel tempo e trovare il tesoro, che ha un valore di 5 miliardi di dollari, e anche Sam, si spera...
      </span>
      <span class="read-more-btn">Read More...</span>
  </div>

  <div class="reviewtext">
    <h3 id="textreview">LEAVE A REVIEW</h3>
  </div>

  <div class="rating">
    <div class="c4l-rating">
      <input name="c4l-rating" type="radio" id="c4l-rate1" value="1" />
      <label for="c4l-rate1"></label>

      <input name="c4l-rating" type="radio" id="c4l-rate2" value="2" />
      <label for="c4l-rate2"></label>

      <input name="c4l-rating" type="radio" id="c4l-rate3" value="3" />
      <label for="c4l-rate3"></label>

      <input name="c4l-rating" type="radio" id="c4l-rate4" value="4" />
      <label for="c4l-rate4"></label>

      <input name="c4l-rating" type="radio" id="c4l-rate5" value="5" checked />
      <label for="c4l-rate5"></label>
  </div>
  </div>

</div>
<script src="/static/js/Readmore.js"></script>
</body>
</html>
