#body_account{
  height: 100%;
  width: 100%;
  color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  overflow-x: hidden;
  font-family: Tahoma, serif;
  background-image: -ms-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -moz-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -o-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #09203f), color-stop(1, #537895));
  background-image: -webkit-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: linear-gradient(to top right, #09203f 0%, #537895 100%);
}

.container {
  margin: 50px auto;
  background-color: #30404d;
  overflow: hidden;
  padding: 50px;
  color: #ffffff;
  border-radius: 10px;
}

.h1_first{
    width: 1000px;
    padding: 20px;
    background-color: transparent;
    margin: 10px auto;
    text-align: center;
}
