/* @media, It is a CSS query used for adopting all the screen resolution
   (such as a mobile, tablet, desktop, laptop, etc.) */

@media only screen and (max-width: 500px) {
  .body_contacts {
    padding: 50px 40px;
  }
}

@media only screen and (max-width: 455px) {
  .body_contacts {
    padding: 45px 30px;
  }
}

@media only screen and (max-width: 340px) {
  .body_contacts {
    padding: 30px 20px;
  }
}


.body_contacts{
    height: 100%;
    width: 100%;
    color: #222222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    overflow-x: hidden;
    font-family: Tahoma, serif;
    background-image: -ms-linear-gradient(top right, #09203f 0%, #537895 100%);
    background-image: -moz-linear-gradient(top right, #09203f 0%, #537895 100%);
    background-image: -o-linear-gradient(top right, #09203f 0%, #537895 100%);
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #09203f), color-stop(1, #537895));
    background-image: -webkit-linear-gradient(top right, #09203f 0%, #537895 100%);
    background-image: linear-gradient(to top right, #09203f 0%, #537895 100%);
  }

#textone{
  text-align: center;
  color: darkgoldenrod;
}

#contacts{
  max-width: 450px;
  margin: 0 auto;
  background-color: #30404d;
  overflow: hidden;
  padding: 50px;
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#table1, th, td
{
  width: 100%;
  border: 2px black solid;
  border-collapse: collapse;
  color: white;
}

th, td{
   padding: 15px;
}

#div0001{
  padding: 10px;
  margin-left: 40%;
  margin-right: 55%;
}

#btn0004{
  padding: 10px;
  background-color: darkgoldenrod;
}
