#body_home{
  height: 100%;
  width: 100%;
  color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  overflow-x: hidden;
  font-family: Tahoma, serif;
  background-image: -ms-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -moz-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -o-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #09203f), color-stop(1, #537895));
  background-image: -webkit-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: linear-gradient(to top right, #09203f 0%, #537895 100%);

}

#body_home, html{
  padding: 0;
  margin: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

header {
  background: black;
  padding: 8px;
}


.Drop-menu {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
}


ul#Menu ul {
  margin: 2px 0 0;
  padding: 0;
  bottom: 73.40%;
  right: 21.96%;
  display: inline-block;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  background: #444;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}


ul#Menu li:hover ul {
  opacity: 1;
  visibility: visible;
}


ul#Menu ul li {
  float: none;
  display: block;
  border: 0;
}


ul#Menu ul a {
  color: white;
  padding: 10px;
  width: 130px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}


ul#Menu ul a:hover {
  background-color: orange;
  color: black;
}


header li {
  display: inline;
  margin: 5px;
  color: white;
}


header ul {
  text-align: center;
}


header ul li.Logo {
  border: 3px solid orange;
}


header ul li.Logo a {
  color: white;
  text-decoration: none;
}


header ul li.Promo {
  border: 2px solid darkgoldenrod;
  background-color: darkgoldenrod;
}

header ul li.Promo a{
  color: white;
  text-decoration: none;
}

 header ul li.contacts {
  border: 2px solid darkgoldenrod;
  background-color: darkgoldenrod;
}

header ul li.contacts a{
  color: white;
  text-decoration: none;
}


.carousel-cell, #primo {
  object-fit: cover;
  height: 700px;
  width: 100%;
}

.carousel-cell, #secondo {
  object-fit: cover;
  height: 700px;
  width: 100%;
}

.carousel-cell, #terzo {
  object-fit: cover;
  height: 700px;
  width: 100%;
}

.carousel-cell, #quarto {
  object-fit: cover;
  height: 700px;
  width: 100%;
}

.carousel-cell  {
  height: 700px;
  width: 1400px;
  margin-top: 5%;
  position: relative;
}

#primafoto, #secondafoto, #terzafoto, #quartafoto {
    width: 100%;
    height: 100%;
}

.logo {
  position: relative;
  margin-top: 100px;
  width: 50px;
  height: 50px;
}


#fotologo {
  position: relative;
  margin-top: auto;
  margin-bottom: -1.00%;
  width: 5%;
  height: 5%;
}

#welcome {
  color: white;
}

#google_username{
  color: white;
}

#heart{
  color: red;
}

#heartwo{
  color: red;
}

.container_home {
  height: 100%;
  margin-top: 10%;
  background-color: #30404d;
  padding: 15px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


#evidence {
  text-align: center;
}

/* Search bar */

.input{
  border-color: rgb(40, 40, 40);
  border-style: solid;
  margin-top: 5%;
  width: 300px;
  max-width: 60vw;
  min-wdith: 200px;
  border-radius: 50px;
  padding: 10px 10px 10px 15px;
  font-size: 15px;
  background-color: rgb(30, 30, 30);
  color: white;
}
.btn-container{
  display: inline-block;
}


.form-container{
  margin-bottom: 10px;
  text-align: center;
}


/* End search bar*/


 /* Start API */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:black;
    --secondary-color: darkgoldenrod;
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: darkgoldenrod;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:green;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: red;
}
.no-results{
    color:black;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: orange;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.embed.hide{
  display: none;
}

.embed.show{
  display: inline-block;
}

.arrow{
  position: absolute;
  font-size: 40px;
}

.arrow.left-arrow{
  top:50%;
  left:5%;
  transform: translateY(-50%);
}


.arrow.right-arrow{
  top:50%;
  transform: translateY(-50%);
  right:5%;
}

.dots{
  margin-top: 30px;
}

.dots .dot {
  padding: 5px 15px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
}

.dots .dot.active{
  border-color: orange;
}
