/* Start Page Not Promotion */

#not_promotion {
  height: 100%;
  width: 100%;
  color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  overflow-x: hidden;
  font-family: Tahoma, serif;
  background-image: -ms-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -moz-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -o-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #09203f), color-stop(1, #537895));
  background-image: -webkit-linear-gradient(top right, #09203f 0%, #537895 100%);
  background-image: linear-gradient(to top right, #09203f 0%, #537895 100%);
}

.block {
  padding: 20px;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
}

#message {
  color: red;
  text-shadow: 0 0 20px #FF0000, 0 0 10px #09203f;
}

.form-footer div {
  text-align: center;
  padding: 25px 20px;
  font-size: 18px;
  color: #e6e6e6;
}

#btn001 {
  background: darkgoldenrod;
  border: 5px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#btn002 {
  background: darkgoldenrod;
  border: 5px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#btn003 {
  background: darkgoldenrod;
  border: 5px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#houseicon {
  color: black;
}


/* Start Page Promotion*/

*{
    margin: 0;
    padding: 0;
}

h1{
  color: white;
}
#promotion{
  background-image: url("/static/images/cinema.jpeg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}
.form-box{
  width: 500px;
  background: rgba(0,0,0,0.8);
  margin: 15% 33%;
}
.random{
margin: 31px auto;
  width: 80%;

}

#text{
    width: 250px;
}
#sconto{
  text-align: center;
  background-color: darkgoldenrod;
}
a{
  text-decoration: underline;
  text-decoration-color: red;
}
h3{
  color: white;
  text-align: center;
}

#btn004 {
  margin-left: 20%;
  background: darkgoldenrod;
  border: 5px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#backbutton {
  color: black;
}
